body{
    background: #e9ecef;
}

.container-table {
    width: 1080px;
    max-width: 90%;
    margin: auto;
    padding: 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background: #fff;
}

input {
    margin-top: 4px;
}

h5 {
    margin: auto;
    margin-right: 10px;
}

label {
    margin: auto 20px auto 5px;
}