html {
    height: 100%;
}

body{
    height: 100%;
    background: #e9ecef;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.container-general {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-table {
    width: 1080px;
    max-width: 90%;
    margin: auto;
    padding: 15px 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 5px grey;
}

.container-dropdown {
    max-width: 200px;
    border-radius: 20px;
}

#dropdown-basic {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #e9ecef;
}
 
.menu-dropdown {
    border-radius: 10px;
}
 
.content-dropdown {
    margin: 10px 20px;
}
 
.content-input {
    width: 50px;
    width: 100%;
    margin: 5px auto;
    font-weight: 400;
    font-size: 12px;
}

.input {
    justify-content: space-between;
}

h5 {
    margin: 10px auto;
    font-weight: bold;
    font-size: 12px;
}

label {
    text-align: left;
    margin: auto 0;
}

Table {
    text-align: center;
}

Table thead {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

Table thead tr th:first-child, Table tbody tr td:first-child {
    width: 60px;
}

Table tbody {
    font-weight: 400;
}

Table thead tr th:nth-child(2), Table tbody tr td:nth-child(2) {
    font-weight: 500;
    text-align: left;
}